div[class$="nav-tab"] {
  background-color: skyblue;
  border-style: solid;
}
a.href [class$="navigation"]{
  text-decoration: none;
  color: crimson;
}
.nav-tab:hover{
  background-color: yellow
}
